accelerate
aiohttp
altair
anthropic
bcrypt
bitsandbytes
chromadb
duckduckgo_search
faiss-cpu
google-ai-generativelanguage
google-api-python-client
google-genai
google-generativeai
huggingface-hub
jupyterlab
langchain
langchain-anthropic
langchain-chroma
langchain-community
langchain-core
langchain-experimental
langchain-huggingface
langchain-openai
langgraph
ollama
onnxruntime
openai
pandas
pillow
pydantic
pydantic-settings
pypdf
PyYAML
requests
scikit-learn
scipy
sentence-transformers
sentencepiece
SQLAlchemy
streamlit
torch
transformers
uvicorn
youtube-transcript-api
